<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/a20d456f-de18-4830-868a-1963a4b9aeff/resourceGroups/CadastroApi20211215140724ResourceGroup/providers/Microsoft.ApiManagement/service/CadastroApiapi/apis/CadastroApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/a20d456f-de18-4830-868a-1963a4b9aeff/resourcegroups/CadastroApi20211215140724ResourceGroup/providers/Microsoft.Web/sites/CadastroApi20211215140724</ResourceId>
    <ResourceGroup>CadastroApi20211215140724ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cadastroapi20211215140724.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c8965e47-8533-47b7-9ede-0c49e11ada15</ProjectGuid>
    <PublishUrl>https://cadastroapi20211215140724.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CadastroApi20211215140724</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>